---
import AboutHeroImage from '../assets/cover.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About Narikothon"
	pubDate={new Date('January 05 2026')}
	heroImage={AboutHeroImage}
>

	<p>Coming Soon...</p>

	
</Layout>
