---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import ViewControls from './ViewControls.astro';
---

<div class="drawer">
	<input id="my-drawer-1" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content">
		<div class="navbar bg-base-100 shadow-sm">
			<div class="navbar-start">
				<label for="my-drawer-1" class="btn btn-ghost drawer-button lg:hidden">
					<i class="fa-solid fa-bars"></i>
				</label>
				<a href="/" class="btn btn-ghost text-xl">{SITE_TITLE}</a>
			</div>
			<div class="navbar-center hidden lg:flex">
				<ul class="menu menu-horizontal px-1">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
			<div class="navbar-end">
				<ViewControls />
			</div>
		</div>
	</div>
	<div class="drawer-side">
		<label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay"></label>
		<div class="bg-base-200 min-h-full w-80">
			<div class="flex justify-end p-4">
				<label for="my-drawer-1" class="btn btn-ghost btn-sm btn-circle">
					<i class="fa-solid fa-xmark"></i>
				</label>
			</div>
			<ul class="menu p-4">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</div>
	</div>
</div>
